<div class="row">
    <a href="javascript:void(0)">
        <img src="{{base_url}}/img/logo.png" id="logo" class="col-sm-2 col-xs-4">
    </a>
</div>
<div id="header" class="row text-center">    
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <h1 class="">
            <strong>Willkommen bei HOLIDAYROOMS!</strong>
        </h1>
        <h3>Ihr kompetenter Partner für Ferienhaus-Anmietungen</h3>
        <h4>{{description}}</h4>
        <h4>
            <a href="{{ app.url_generator.generate('complaint') }}">Möchten Sie sich beschweren?</a>
        </h4>
    </div>
</div>